<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    From App Component Codevolution
  </h1>
  <!-- <app-test></app-test> -->
  <!-- <app-property-binding></app-property-binding> -->
  <!-- <app-class-binding></app-class-binding> -->
  <!-- <app-style-binding></app-style-binding> -->
  <!-- <app-event-binding></app-event-binding> -->
  <!-- <app-template-reference></app-template-reference> -->
  <app-twoway-binding></app-twoway-binding>

</div>
